.container {
  max-width: 30rem;
  margin: 3rem auto;
  text-align: left;
}
h3 {
  font-style: italic;
  font-family: "EB Garamond", serif;
}
h1 {
  font-family: "EB Garamond", serif;
}
p {
  font-family: "EB Garamond", serif;
}
